streamlit
pandas
faiss-cpu
langchain
langchain-community
sentence-transformers
python-dotenv
langchain-groq

openai-whisper
torch
sounddevice
scipy

transformers
accelerate
sentencepiece
safetensors
soundfile